@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


.bg-color-brand-description {
    background-color: #472812;
}

.ui-menu-color-guide {
    background-color: #cc8271;
}

.ui-menu-color-contact {
    background-color: #e3b6b6;
}

.ui-menu-color-download {
    background-color: #cc8271;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/scandic.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;

}

.brand {
    font-family: "Exo", sans-serif;
    font-weight: 150;
    font-size: 50px;
    margin-top: 50px;
    color: #f1dbdb;
}

.description {
    font-family: "Lora", sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #e3b6b6;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}
#nav{
    margin:0;
}

#nav li {
    font-size: 14px;
}

.navitem{

    text-align: center;
    padding: 0;
}
.navitem a {
    width: 100%;
    text-decoration: none;
    color:#472812;
    height:80px;
}
.navitem a i {
    padding-top: 15px;
    display: block;
    color: #fafafa;
    font-size: 24px;
}

.navitem span {
    display: block;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.hvr-sweep-to-right:before{
    background: rgba(0, 0, 0, 0.2);
    height: 80px;
}